# Allow access to the HALs
hal_client_domain(system_app, hal_lineage_gamekeys)
hal_client_domain(system_app, hal_lineage_touchinjector)
hal_client_domain(system_app, hal_lineage_leds)
